<h1>Input</h1>
    <div id="inputArea" style="display: flex; flex-direction: row;">
        <table>
            <tbody>
                <tr>
                    <td><label for="genderInput1">Gender</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="genderInput"></td> -->
                    <td><input type="text" id="genderInput1" value="wanita"></td>
                </tr>
                <tr>
                    <td><label for="ageInput1">Age</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="ageInput"></td> -->
                    <td><input type="number" id="ageInput1" value="27"></td>
                </tr>
                <tr>
                    <td><label for="statusInput1">Marital Status</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="statusInput"></td> -->
                    <td><input type="text" id="statusInput1" value="free"></td>
                </tr>
                <tr>
                    <td><label for="educationInput1">Education Level</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="educationInput"></td> -->
                    <td><input type="text" id="educationInput1" value="d3"></td>
                </tr>
                <tr>
                    <td><label for="experienceInput1">Experience</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="experienceInput"></td> -->
                    <td><input type="number" id="experienceInput1" value="3"></td>
                </tr>
                <tr>
                    <td><label for="majorInput1">Study Major</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="majorInput"></td> -->
                    <td><input type="text" id="majorInput1" value="psikologi"></td>
                </tr>
                <tr>
                    <td><label for="lastPosInput1">Last Position</label></td>
                    <td>:</td>
                    <!-- <td><input type="text" id="lastPosInput"></td> -->
                    <td><input type="text" id="lastPosInput1" value="trainer"></td>
                </tr>
            </tbody>
        </table>
        <button id="addInput" style="height: 1%; align-self: flex-end;">+</button>
    </div>
    <br>
    <button id="btnRecommend">Recommend Candidate</button>