<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Candidates</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>

    <h1>Recommended Candidates</h1>
    <table>
        <tbody>
            <tr>
                <td><label for="showNum">Show</label></td>
                <td>:</td>
                <td><input type="number" id="showNum"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Similarity (%)</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Marital Status</th>
                <th>Education Level</th>
                <th>Experience</th>
                <th>Study Major</th>
                <th>Last Position</th>
            </tr>
        </thead>
        <tbody id="candidateRecommendationTable">
        </tbody>
        <!-- {% for candidate in recommended_candidates %}
            {% if loop.index <= 10 %} <tr>
                <td>{{ loop.index }}</td>
                <td>{{ candidate[0] }}</td>
                <td>{{ candidate[1] }}</td>
                <td>{{ candidate[2] }}</td>
                <td>{{ candidate[3] }}</td>
                <td>{{ candidate[4] }}</td>
                <td>{{ candidate[5] }}</td>
                <td>{{ candidate[6] }}</td>
                <td>{{ candidate[7] }}</td>
                <td>{{ candidate[8] }}</td>
                </tr>
            {% endif %}
        {% endfor %} -->

    </table>
</body>

<script>
    // Get the URL parameters
    const urlParams = new URLSearchParams(window.location.search);

    // Get the value of the 'result' parameter
    const result = urlParams.get('result');

    // Now 'result' contains the value of the 'result' parameter from the URL
    console.log(JSON.parse(result));
</script>

</html>